/* For Tablet */
@media (max-width: 1000px) {
  /* species-wrapper */
    .spc {
        flex-direction: column;
        height: max-content;
    }
    .heading {
        width: 95%;
        height: max-content;
        margin-bottom: 20px;
        text-align: center;
    }
    .flower-list {
        justify-content: center;
    }
    .species-list {
        margin: 0 10px 0 10px;
        width: 40%;
    }
    /* color-wrapper */
    .clr {
        height: max-content;
    }
    /* contacts-wrapper */
    .ctc .heading {
        width: 60%;
        height: inherit;
    }
    /* footer */
    footer {
        justify-content: space-between;
    }
    .footer-left {
        width: max-content;
    }
    .list {
        padding: 0 10px 0 10px;
    }
}

/* For Smartphone */
@media (max-width: 670px) {
  /*  Winticha's code here  */
      /* header */
    header {
        flex-wrap: wrap;
        padding: 0 10px;
        height: 50px;
    }
    h1,
    .header-left .fa,
    .footer-left .fa {
        font-size: 24px;
    }
    nav {
        display: none;
    }
    .header-right {
        padding: 15px;
    }
    .login {
        padding: 0 50px;
        font-size: 14px;
    }
    .menu-icon {
        font-size: 24px;
        display: block;
    }
  /*  Winticha's code ends here*/
  
  /* top-wrapper */
  .cover {
    height: 400px;
  }
  .box {
    margin: 70px 10px 0 10px;
    height: max-content;
  }
  .title {
    font-size: 30px;
  }
  .about2 {
    font-size: 18px;
  }
  .box p {
    font-weight: bold;
    color: orange;
    margin-right: 5px;
  }
  .box-content {
    margin-top: 20px;
    height: max-content;
  }
  .about-main {
    display: block;
  }
  
  /*  Winticha's code here  */
  /* species-wrapper */
    .spc {
        flex-direction: column;
        margin: 0 auto;
    }
    .heading {
        text-align: center;
        margin: 0 auto 20px auto;
        height: max-content;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
    }
    .flower-list {
        flex-wrap: no-wrap;
        justify-content: center;
    }
    .species-list {
        width: 100%;
        margin: 0 auto 10px auto;
    }
    .description {
        display: none;
    }

    /* color-wrapper */
    .color {
        width: 100px;
        height: 50px;
        padding: 10px;
        font-size: 14px;
    }
   
    /* contacts-wrapper */
    .ctc {
        flex-direction: column;
        margin: 0 auto;
        height: 100%;
    }
    .ctc .heading {
        width: 90%;
        height: max-content;
        text-align: center;
    }
    .socmed {
        margin: 30px auto 0 auto;
        width: 80%;
        font-size: 30px;
    }
  
    /* footer */
    footer {
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .footer-left {
        padding-top: 30px;
        margin: 0 auto;
    }
    .footer-left p {
        font-size: 14px;
    }
    .footer-icon {
        padding-bottom: 5px;
        justify-content: center;
    }
    .terms {
        justify-content: center;
        font-size: 12px;
    }
    .terms a {
        padding: 0 10px;
    }
    .footer-right {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .list {
        padding: 0;
        margin-bottom: 15px;
    }
  /*  Winticha's code stops here*/
}
