body {
  background-color:	#f6bf0a;
  background-image: url(smile.jpg);
  background-size: cover;
}

body {
  width: 1300px;
  text-align: center;
  padding-top: 100px;
  color: #FFF;
}

@media (min-width: 1000px) {
  .smile {
    display: none;
  }
}


@media (max-width: 670px) {
  body {
    background-image: url(smile.jpg);
    text-align: center;
    padding-top: 100px;
    color: #fff;
  }
  .smile {
    max-width: 25%
  }
}
