/* Global style */

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Piedra&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bree Serif", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

/*   Winticha's code starts here  :D   */
/* Header style */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(245, 239, 223, 0.8);
    z-index: 10;
}

.header-left {
    display: flex;
}

.header-left .fa-tree,
.footer-icon .fa-tree {
    padding-right: 10px;
    font-size: 32px;
    color: rgb(11, 179, 109);
}

h1 {
    font-size: 32px;
    color: rgb(180, 112, 180);
    cursor: pointer;
    animation-name: colors;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes colors {
    0% {color: rgb(248, 228, 228);}
    12.5% {color: rgb(228, 243, 13);}
    25% {color: rgb(206, 108, 72)}
    27.5% {color: rgb(112, 126, 190);}
    50% {color: skyblue;}
    62.5% {color: rgb(30, 12, 92)}
    75% {color: rgb(46, 17, 85);}
    87.5% {color: rgb(71, 10, 61)}
    100% {color: rgb(3, 3, 5);}
}

nav ul {
    display: flex;
}

nav li {
    padding: 20px;
    transition: 0.5s;
}

nav a {
    color: rgb(1, 7, 1);
    font-weight: 600;
}

nav li:hover {
    background-color: rgb(180, 112, 180);
}

.header-right {
	padding: 20px;
	background-color: rgb(224, 151, 40);
	transition: 0.5s;
	cursor: pointer;
}

.header-right:hover {
    bottom: 5px;
    color: rgb(224, 151, 40);
    background-color: rgb(196, 55, 20, 0.7);
}

.login {
	color: rgb(28, 23, 3);
}

.menu-icon {
    display: none;
}
/*   Winticha's code ends here    :D  */

/* top-wrapper style */

/*   Winticha's code ends here  :D */
/* species-wrapper style */
.spc {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 20px;
    background-color: burlywood;
}

.heading {
    height: 500px;
    padding: 30px;
    margin-right: 10px;
    background-color: rgba(247, 243, 239, 0.75);
}

h2 {
    padding-bottom: 10px;
    font-size: 48px;
    color: orange;
}

h3 {
    font-weight: normal;
    color: rgb(247, 174, 39);
}

.more {
    padding: 10px;
    margin: 20px auto 0 auto;
    width: max-content;
    text-align: center;
    background-color: rgba(123, 209, 52, 0.6);
    transition: 0.5s;
    cursor: pointer;
}

.more:hover {
    background-color: rgb(22, 197, 188);
}

.more a{
    color: rgb(28, 23, 3);
}

.flower-list {
    display: flex;
    flex-wrap: wrap;
}

.species-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 20px;
}
.flower-icon {
    position: relative;
    width: 100%;
}

.pict > img {
    display: block;
    margin: 0 auto;
    opacity: 1;
    width: 150px;
    height: 200px;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.pict {
    display: block;
    margin: 0 auto;
    opacity: 1;
    width: 200px;
    height: 200px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    margin-bottom: 10px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.flower-icon:hover .pict > img {
    opacity: 0.3;
}

.flower-icon:hover .middle {
    opacity: 1;
}

.middle a {
    background-color: rgb(241, 126, 85, 0.7);
    color: white;
    font-size: 14px;
    text-decoration: underline;
    padding: 10px;
}

.description {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 14px;
    color: rgb(250, 248, 246);
    background-color: rgba(255, 165, 0, 0.6);
    padding: 10px;
}

.desc-title {
  margin-bottom: 5px;
  text-align: center;
}

/* color-wrapper style */
.clr {
    flex-direction: column;
    width: 100%;
    height: 600px;
    text-align: center;
    background: url("https://www.publicdomainpictures.net/pictures/290000/velka/colorful-flowers-blooming.jpg");
    background-repeat: none;
    background-size: cover;
}
.clr .heading {
    margin: 0 auto;
    height: max-content;
    width: 90%;
    opacity: 0.95;
}

.clr h2,
.clr h3,
.ctc h2,
.ctc h3 {
    color: rgb(26, 22, 22, 0.8);
}

.colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
}

.color {
    width: 200px;
    height: 100px;
    margin: 0 10px 20px 10px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.color:hover {
    opacity: 1;
}

.first {
    background-color: lavender;
}

.second {
    background-color: darkseagreen;
}

.third {
    background-color: firebrick;
}

.fourth {
    background-color: hotpink;
}

.fifth {
    background-color: yellow;
}

.sixth {
    background-color: maroon;
}

.seventh {
    background-color: moccasin;
}

.eighth {
    background-color: rebeccapurple;
}

.ninth {
    background-color: navy;
}

.tenth {
    background-color: blanchedalmond;
}
/*   Winticha's code  starts here   :D   */

/* contacts-wrapper style */
.ctc {
    align-items: center;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTG8pKKxHzJZivUKqBRs6VbNNGJdXO2r8IHzQvZ0BJrEIcOuert&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    height: 400px;
    font-family: "Piedra", cursive;
}

.ctc .heading {
    left: 0;
    margin: 0;
    width: 55%;
    height: 200px;
    text-align: left;
}

.socmed{
    padding: 30px;
    margin: 0 0 0 20px;
    width: 100%;
    font-size: 48px;
    color: orange;
    text-align: center;
    background-color: rgb(129, 3, 3, 0.6);
}

.socmed a {
    color: orange;
    opacity: 0.8;
}

.socmed:hover {
    opacity: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button .fa {
    padding-right: 20px;
}

/*    Winticha's code  starts here   :D    */
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: rgba(245, 239, 223, 0.8);
}

.footer-icon {
    display: flex;
    padding-bottom: 30px;
}

.terms {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.footer-right {
    display: flex;
}

.list {
    padding-right: 70px;
}

footer a {
    color: rgb(250, 167, 14);
}

footer a:hover {
    font-weight: 700;
}

/*   Winticha's code ends here  :D   */

/* Fjolfnir's Code */

.cover {
  text-align: right;
  border: 2px solid black;
  background-size: cover;
  background-position: left;
  height: 560px;
  background-image: url(https://hips.hearstapps.com/clv.h-cdn.co/assets/16/18/daisy.jpg);
}

.box {
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(68, 67, 27, 0.75);
  border: 1px solid black;
  height: 440px;
}

.box p {
  font-weight: bold;
  color: orange;
}

.title {
  font-size: 40px;
  margin: 2% 1%;
}

.flo-quote {
  margin: 1%
}

.about2 {
  font-size: 20px;
  margin-bottom: 1%;
  margin-right: 1%;
}

.box-content {
  margin-top: 110px;
}

.navbar {
  margin-left: 0px;
  text-align: center;
}

.head-title {
  text-align: center;
}

.head-desc {
  text-align: justify;
}

.liliales {
  background-image: url(https://www.flowerbulbsinc.co.uk/db/products/1390554329Alstroemeria_Ligtu_Hybr._voor_fotokaart.jpg);
  background-size: cover;
  background-position: center;
}

.asteraceae {
  background-image: url(https://parkseed.com/images/xxl/51338-pk-p1.jpg);
  background-size: cover;
  background-position: center;
}

.rosaceae {
  background-image: url(https://cdn.pixabay.com/photo/2019/05/21/10/50/rose-4218760_960_720.jpg);
  background-size: cover;
  background-position: center;
}

.orchidaceae {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/14/71/92/79/phalaenopsis-orchid.jpg);
  background-size: cover;
  background-position: center;
}

.popular-species h5 {
  font-size: 16px;
}

.contact-list h5 {
  font-size: 16px;
}

.head-desc {
  text-align: center;
}

/* End of Fjolfnir's Code */
